@model BookBlogProject.EntityLayer.Concrete.Author
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Author</title>

</head>

<body>
    @using (Html.BeginForm("Add", "Author", FormMethod.Post))
    {
    <form>
        <div class="form-group row">
            <div class="col-sm-1">
                @Html.Label("Name")
            </div>
            <div class="col-sm-7">
                @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(x => x.AuthorName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-sm-1">
                @Html.Label("Lastname")
            </div>
            <div class="col-sm-7">
                @Html.TextBoxFor(x => x.AuthorLastName, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(x => x.AuthorLastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-sm-1">
                @Html.Label("Biography")
            </div>
            <div class="col-sm-7">
                @Html.TextAreaFor(x => x.AuthorBiography, new { @class = "form-control", rows=10, columns=40})
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(x => x.AuthorBiography, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-sm-1">
                @Html.Label("Status")
            </div>
            <div class="col-sm-7">
                @Html.DropDownListFor(x => x.AuthorStatus, (IEnumerable<SelectListItem>)ViewBag.Status, "", new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(x => x.AuthorStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <button class="btn btn-dark">Save</button>

    </form>

    }
</body>
</html>

