@model BookBlogProject.EntityLayer.Concrete.Author
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <form>
        <div class="form-group row">
            <div class="col-sm-1">
                @Html.Label("Name")
            </div>
            <div class="col-sm-7">
                @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control", @readonly = true })
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-sm-1">
                @Html.Label("Lastname")
            </div>
            <div class="col-sm-7">
                @Html.TextBoxFor(x => x.AuthorLastName, new { @class = "form-control", @readonly = true })

            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-sm-1">
                @Html.Label("Biography")
            </div>
            <div class="col-sm-7">
                @Html.TextAreaFor(x => x.AuthorBiography, new { @class = "form-control", @readonly = true, rows = 10, columns = 40 })
            </div>
            
        </div>
        <br />
        <div class="form-group row">
            <div class="col-sm-1">
                @Html.Label("Status")
            </div>
            <div class="col-sm-7">
                @Html.TextBoxFor(x => x.AuthorStatus, new { @class = "form-control", @readonly = true })
            </div>
        </div>

    </form>
</body>
</html>

