@model BookBlogProject.EntityLayer.ViewModels.PostVM
@{
    ViewBag.Title = "PostDetail";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}

<html>

    <div class="container">
        <article class="row mb-4">
            <div class="col-lg-10 mx-auto mb-4">
                <h1 class="h2 mb-3">@Model.PostTitle</h1>
                <ul class="list-inline post-meta mb-3">
                    <li class="list-inline-item">
                        <i class="ti-user mr-2"></i><a href="author.html">
                            @Model.PersonFullName
                        </a>
                    </li>
                    <li class="list-inline-item">Date : @Model.PostDate.ToString("dd.MM.yyyy")</li>

                </ul>
            </div>

            <div class="col-lg-3 col-md-4 mb-4 mb-md-0 text-center text-md-left">
                <img loading="lazy" class="rounded-lg img-fluid" src="@Url.Content(Model.BookImage)">
            </div>
            <div class="col-lg-9 col-md-8 content text-center text-md-left">
                
                <p>@Model.PostContent</p>
            </div>
        </article>
    </div>

    

</html>

