@model BookBlogProject.EntityLayer.Concrete.Role
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Role</title>
</head>
<body>

    @using (Html.BeginForm("Add", "Role", FormMethod.Post))
    {
    <form>
        <div class="form-group row">
            <div class="col-sm-1">
                @Html.Label("Name")
            </div>
            <div class="col-sm-7">
                @Html.TextBoxFor(x => x.RoleName, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(x => x.RoleName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-sm-1">
                @Html.Label("Description")
            </div>
            <div class="col-sm-7">
                @Html.TextBoxFor(x => x.RoleDescription, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(x => x.RoleDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-sm-1">
                @Html.Label("Status")
            </div>
            <div class="col-sm-7">
                @Html.DropDownListFor(x => x.RoleStatus, (IEnumerable<SelectListItem>)ViewBag.Status, "", new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(x => x.RoleStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <button class="btn btn-dark">Save</button>

    </form>

    }

</body>
</html>
